@charset "UTF-8";

body {
  background-color: rosybrown;
  background-image: 
    radial-gradient(khaki .5px, transparent .5px);
  background-size: 1.5px 1.5px;
  font-family: 'bennet-banner', serif, 'Arima Madurai';
  font-size: 2vw;
  color: linen;
  margin: 0px;
  cursor: default;
  text-align: center;
}
@media screen and (max-width: 1200px) {
body {
    background-image: none;
  }
}
@media screen and (max-width: 800px) {
body {
    font-size: 6vw;
  }
h1 {
    font-size: 6vw;
  }
h2 {
    font-size: 6vw;
  }
h3 {
    font-size: 6vw;
  }
}
a {
  text-decoration: none;
  color: mediumblue;
  cursor: pointer;
}
#content a {
  filter: drop-shadow(4px -1px 0px mediumspringgreen);
}
h1 {
  writing-mode: vertical-lr;
  font-style: italic;
  font-size: 3.5vw;
  line-height: 2vw;
  color: yellow;
}
@media screen and (max-width: 500px) {
h1 {
  line-height: 0vw;
  margin: 0px;
  }
}
h1:hover {
  filter: drop-shadow(3px 2px 0px mediumspringgreen);
}
h2 {
  font-size: 3vw;
  color: mediumblue;
}
h3 {
  font-size: 2vw;
  color: yellow;
}
#nav {
  width: 100%;
  margin: 0px;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
  writing-mode: vertical-lr;
  text-align: left;
}
#nav a {
  background-image: 
    radial-gradient(mediumspringgreen, transparent);
  width: 20vw;
  height: 20vw;
}
#nav div {
  display: none;
  color: mediumblue;
  text-align: left;
}
#nav a:hover+div {
  display: inline;
}
.content {
  margin: auto;
  max-width: 700px;
}
@media screen and (max-width: 500px) {
.content {
    margin: 2.5vw;
    width: 80vw;
  }
}
#weave {
  height: 25vh;
}
#weave a {
  background-image: 
    radial-gradient(fuchsia .5px, transparent .5px);
  background-size: 3px 3px;
  width: 5vw;
  height: 5vw;
  position: absolute;
}
#weave div {
  display: none;
  position: absolute;
  left: 8vw;
  width: 8vw;
  font-size: 1.5vw;
  color: mediumblue;
  text-align: left;
}
#weave a:hover {
  background-color: goldenrod;
}
#weave a:hover+div {
  display: block;
}
.button {
  animation-name: binky;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: inline-block;
  margin: auto;
  padding-right: 1vw;
  padding-left: 1vw;
  text-align: center;
  border: thin dotted yellow;
  font-size: 2vw;
  color: yellow;
  font-family: 'bennet-banner', serif; 
  text-align: center;
}
.button:hover {
  border-top: thin dotted mediumspringgreen;
  border-right: thin dotted mediumspringgreen;
  color: mediumspringgreen;
}
@keyframes binky {
  from {background-color: transparent;}
  to {background-color: goldenrod;}
}
@media screen and (max-width: 700px) {
.button {
   font-size: 6vw;
   background-image: none;
  }
}
button {
  background: transparent;
  cursor: pointer;
  text-align: center;
}
textarea {
  width: 75%;
  background: transparent;
  color: mediumblue;
  font-family: 'bennet-banner', serif; 
  font-size: 1.8vw;
  border: thin dotted mediumspringgreen;
}
textarea:active {
  border: thin dotted mediumspringgreen;
}
input {
  width: 75%;
  background: transparent;
  color: mediumblue;
  font-family: 'bennet-banner', serif; 
  font-size: 1.8vw;
  border: thin dotted mediumspringgreen;
}
.bigbutton {
  background-image: 
    radial-gradient(#eaff00 .5px, transparent .5px);
  max-width: 25%;
  background-size: 2.5px 2.5px;
  display: block;
  margin: auto;
  text-align: center;
  border: thin dotted #eaff00;
  font-family: 'bennet-banner', serif;
  font-size: 3vw;
  padding: 5vw;
  line-height: 5vw;
}
.bigbutton:hover {
  border-top: thin dotted #ff3300;
  border-right: thin dotted #ff3300;
  color: #ff3300;
}
@media screen and (max-width: 700px) {
.bigbutton {
   font-size: 10vw;
   background-image: none;
  }
}
a.yellow {
  color: #eaff00;
}
.pagetitle {
  font-family: 'bennet-banner', serif;
  font-style: italic;
  font-size: 3.0vw;
  writing-mode: vertical-lr;
  color: mediumspringgreen;
  position: fixed;
  bottom: 10px;
  right: .5vw;
  z-index: 5;
}
@media screen and (max-width: 700px) {
.pagetitle, h1 {
    visibility: hidden;
  }
}
img {
  max-width: 40vw;
  max-height: 60vh;
  padding-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}
img.panel {
  min-width: 1vw;
  height: 30vh;
  padding: 0px;
  transition: transform .3s;
  margin: 20px auto;
}
img.panel :hover {
  transform: scale(2.3); 
  transform-origin: right;
}
.more {
  background-image: radial-gradient(yellow, transparent);
  cursor: pointer;
  padding: 18px;
  width: 5vw;
  height: 5vw;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active, .more:hover {
  background-image: 
    radial-gradient(yellow .5px, transparent .5px);
  background-size: 2px 2px;
}
.panel {
  padding: 20px;
  border: none;
  display: none;
  overflow: hidden;
  text-align: left;
}
.exhibition {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  left: 90vw;
  writing-mode: vertical-lr;
}
.cv {
  text-align: left;
}
bennet-banner {
font-family: bennet-banner,serif;
font-weight: 300;
font-style: normal;
letter-spacing: .1rem;
}
@font-face {
  font-family: 'Arima Madurai', serif;
  unicode-range: U+0B80..U+0BFF;
}
iframe {
  padding-top: 35vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 60vw;
}
.scroll {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  left: 0px;
  writing-mode: vertical-lr;
  color: mediumblue;
}
