@charset "UTF-8";
/* CSS Document */

body {
  background-image: linear-gradient(to bottom, #ff644d, #403e00);
}
.works {
  width: 20%;
  background-image: linear-gradient(to bottom, #403e00, #ff644d);
  position: sticky;
  top: 40px;
}
.content {
  padding: 25%;
  background-image: linear-gradient(to right, #ff644d, #403e00, #403e00, #403e00);
  width: 90%;
}
