@@charset "UTF-8";

.body {
  background-color: #a19c0d;
}
.row {
  display: flex;
}
.column1 {
  float: left;
  width: 20%;
  background-image: linear-gradient(#403e00, #ff644d);
}
.column2 {
  float: left;
  width: 80%;
  background-image: linear-gradient(#ff644d, #403e00);
}
@media screen and (max-width: 600px) {
.column {
  witdth: 100%;
}
