@charset "UTF-8";
/* CSS Document */

body {
	background-color: #66FF99
}
col {background-color: #999900
}
col:nth-child(2){ 
	background-color: #CC3300
}
td {padding-left: .4rem;
	padding-top: .2rem;
	padding-bottom: .4rem;
	padding-right: .4rem;
}
@font-face {
	font-family: 'Pathologies Caslon copy';
	src: url('Pathologies_Caslon_copy/Pathologies Caslon copy.woff') format('woff');
}
body {
    font-weight: 100;
	font-size: 1.25rem;
    color: rgba(0, 0, 0, 1);
    font-family: 'Pathologies Caslon copy';
    font-style: normal;
    line-height: 1.5rem;
    text-align: left;
}
body a {
	color: rgba(0, 0, 0, 1);
	text-decoration: underline;
	text-decoration-style: wavy
}

bodycopy a.image-link,
bodycopy a.icon-link,
bodycopy a.image-link:hover,
bodycopy a.icon-link:hover {
	border-bottom: 0;
	padding-bottom: 0;
}
